<div class="container">
  <div style="margin-left:10%;margin-top:3%;border: 2px solid black; ">
    
      <h1  style="background-color: blue; color: white;margin-top: 0; padding-bottom: 5%; padding-top: 3%; padding-left: 3%;"> <strong>Academic Event Scheduler</strong> </h1>

	  <%= render 'form', event: @event %>
	</div>
</div>

