		<div class="col-md-2" style="background-color: blue;border: 1px solid white;color:white;">
			<%= time %>
		</div>
		<div class="col-md-1" style="background-color: gray;border: 1px solid white;">
			.
		</div>
		<div class="col-md-1" style="background-color: gray;border: 1px solid white;">
			.
		</div>
		<div class="col-md-1" style="background-color: gray;border: 1px solid white;">
			.
		</div>
		<div class="col-md-1" style="background-color: gray;border: 1px solid white;">
			.
		</div>
		<div class="col-md-1" style="background-color: gray;border: 1px solid white;">
			.
		</div>
		<div class="col-md-1" style="background-color: gray;border: 1px solid white;">
			.
		</div>
		<div class="col-md-1" style="background-color: gray;border: 1px solid white;">
			.
		</div>